
   <div class="container">
       <div class="row">
           <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="{{users.avatar_url}}"id="imge"  >
        </div> 
          <div class="col-md-4"></div>
          
       </div>
       <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-5">
            <h3>Github username:</h3>
           </div>
           <div class="col-md-3"><strong>{{users.login}}</strong></div>
           <div class="col-md-2"></div>
       </div>
       <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
             <h3>Repositories Number:</h3>
            </div>
            <div class="col-md-3"><strong>{{users.public_repos}}</strong></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                 <h3>Github name:</h3>
                </div>
                <div class="col-md-3"><strong>{{users.name}}</strong></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                     <h3>link to your repository</h3>
                    </div>
                    <div class="col-md-3"><strong><a href="{{users.html_url}}">repositories</a></strong></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                         <h3>Followings:</h3>
                        </div>
                        <div class="col-md-3"><strong>{{users.following}}</strong></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                             <h3>followers:</h3>
                            </div>
                            <div class="col-md-3"><strong>{{users.followers}}</strong></div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                 <h3>created at:</h3>
                                </div>
                                <div class="col-md-3"><strong>{{users.created_at|date}}</strong></div>
                                <div class="col-md-2"></div>
                            </div>
                    
   </div> 

<div *ngFor="let repo of repos">
    <p>{{repo.name}}</p>
    <p>{{repo.html_url}}</p>
    <p>{{repo.description}}</p>
    
</div>
<!-- <li><form action="">
        <div class="form-group">
            <input type="text" style="margin-top: 7%;  width: 130%; height: 15%;
            background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" 
            class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  "
             placeholder="search or jump to" [(ngModel)]="login" name="login"  
             (keyup.Enter)="findProfile()">
            </div>
        </form>
    </li> -->